@keyframes dialog-overlay-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes dialog-overlay-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes dialog-content-in {
  from {
    opacity: 0.5;
    transform: scale(0.98);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes dialog-content-out {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0.5;
    transform: scale(0.98);
  }
}

.dialog-overlay[data-state='open'] {
  animation: dialog-overlay-in 100ms ease-out;
}

.dialog-overlay[data-state='closed'] {
  animation: dialog-overlay-out 150ms ease-in;
}

.dialog-content[data-state='open'] {
  animation: dialog-content-in 100ms ease-out;
}

.dialog-content[data-state='closed'] {
  animation: dialog-content-out 150ms ease-in;
}