@import 'tailwindcss';

@config '../../../tailwind.config.cjs';
@custom-variant dark (&:is(.dark *));

.dark{
  color-scheme: dark;
    --outline-white: #1C1C1C;
  --outline-gray-1: #232323;
  --outline-gray-2: #343434;
  --outline-gray-3: #424242;
  --outline-gray-4: #808080;
  --outline-gray-5: #EDEDED;
  --outline-red-1: #521515;
  --outline-red-2: #681916;
  --outline-red-3: #901818;
  --outline-green-1: #0A3F27;
  --outline-green-2: #035831;
  --outline-amber-1: #4B2606;
  --outline-amber-2: #603007;
  --outline-blue-1: #052B53;
  --outline-orange-1: #683108;
  --outline-gray-modals: #343434;
  --surface-white: #0F0F0F;
  --surface-gray-1: #232323;
  --surface-gray-2: #2B2B2B;
  --surface-gray-3: #343434;
  --surface-gray-4: #424242;
  --surface-gray-5: #AFAFAF;
  --surface-gray-6: #D4D4D4;
  --surface-gray-7: #F8F8F8;
  --surface-red-1: #361515;
  --surface-red-2: #361515E6;
  --surface-red-3: #521515E6;
  --surface-red-4: #681916;
  --surface-red-5: #E43838;
  --surface-red-6: #C12020;
  --surface-red-7: #901818;
  --surface-green-1: #0B2E1C;
  --surface-green-2: #0A3F27;
  --surface-green-3: #1BA964;
  --surface-amber-1: #371E06;
  --surface-amber-2: #4B2606;
  --surface-amber-3: #E37D00;
  --surface-blue-1: #0E2037;
  --surface-blue-2: #052B53;
  --surface-blue-3: #3294E3;
  --surface-orange-1: #401F07CC;
  --surface-violet-1: #221C42;
  --surface-cyan-1: #0B252D;
  --surface-pink-1: #471432CC;
  --surface-menu-bar: #0F0F0F;
  --surface-cards: #1C1C1C;
  --surface-modal: #232323;
  --surface-selected: #424242;
  --ink-white: #0F0F0F;
  --ink-gray-1: #232323;
  --ink-gray-2: #424242;
  --ink-gray-3: #717171;
  --ink-gray-4: #717171;
  --ink-gray-5: #808080;
  --ink-gray-6: #999999;
  --ink-gray-7: #AFAFAF;
  --ink-gray-8: #D4D4D4;
  --ink-gray-9: #F8F8F8;
  --ink-red-1: #FFFFFF;
  --ink-red-2: #681916;
  --ink-red-3: #E43838;
  --ink-red-4: #FC7474;
  --ink-green-1: #FFFFFF;
  --ink-green-2: #1BA964;
  --ink-green-3: #58C08E;
  --ink-amber-1: #FFFFFF;
  --ink-amber-2: #E37D00;
  --ink-amber-3: #E79913;
  --ink-blue-1: #FFFFFF;
  --ink-blue-2: #3294E3;
  --ink-blue-3: #5AAEF2;
  --ink-cyan-1: #3CB8DC;
  --ink-pink-1: #E359AB;
  --ink-violet-1: #9D7CEA;
  --ink-blue-link: #1580D8;
  --gray-50: #F8F8F8;
  --gray-100: #D4D4D4;
  --gray-200: #AFAFAF;
  --gray-250: #999999;
  --gray-300: #808080;
  --gray-400: #717171;
  --gray-500: #424242;
  --gray-600: #343434;
  --gray-650: #2B2B2B;
  --gray-700: #232323;
  --gray-800: #1C1C1C;
  --gray-900: #0F0F0F;
  --blue-50: #C9E0F5;
  --blue-100: #ADD2F5;
  --blue-200: #8CC1EC;
  --blue-300: #5AAEF2;
  --blue-400: #3294E3;
  --blue-500: #1580D8;
  --blue-600: #155999;
  --blue-700: #063D71;
  --blue-800: #052B53;
  --blue-900: #0E2037;
  --blue-900-80: #0E2037CC;
  --green-50: #C8F3DE;
  --green-100: #9BE6C1;
  --green-200: #78D7A9;
  --green-300: #58C08E;
  --green-400: #1BA964;
  --green-500: #0A9752;
  --green-600: #0F814A;
  --green-700: #035831;
  --green-800: #0A3F27;
  --green-900: #0B2E1C;
  --red-50: #FFC1C1;
  --red-100: #FF9595;
  --red-200: #FC7474;
  --red-300: #EB4D52;
  --red-400: #E43838;
  --red-500: #C12020;
  --red-600: #901818;
  --red-700: #681916;
  --red-800: #521515;
  --red-900: #361515;
  --red-800-90: #521515E6;
  --red-900-90: #361515E6;
  --amber-50: #F9E8A5;
  --amber-100: #F8D16E;
  --amber-200: #F0BA31;
  --amber-300: #E79913;
  --amber-400: #E37D00;
  --amber-500: #CB6D10;
  --amber-600: #824108;
  --amber-700: #603007;
  --amber-800: #4B2606;
  --amber-900: #371E06;
  --orange-50: #FFCDAD;
  --orange-100: #FFA873;
  --orange-200: #FA8A40;
  --orange-300: #DE6D1B;
  --orange-400: #C45A0E;
  --orange-500: #984509;
  --orange-600: #823906;
  --orange-700: #683108;
  --orange-800: #532707;
  --orange-900: #401F07;
  --orange-900-80: #401F07CC;
  --yellow-50: #FFE89D;
  --yellow-100: #F8D76A;
  --yellow-200: #ECC02E;
  --yellow-300: #DAAE15;
  --yellow-400: #C69C12;
  --yellow-500: #9C7A0A;
  --yellow-600: #705606;
  --yellow-700: #5B4605;
  --yellow-800: #3F3004;
  --yellow-900: #322604;
  --teal-50: #93F2E8;
  --teal-100: #6EE7DB;
  --teal-200: #52DACC;
  --teal-300: #3DC6B8;
  --teal-400: #219C8F;
  --teal-500: #1B7169;
  --teal-600: #13564F;
  --teal-700: #0C423C;
  --teal-800: #0B3A35;
  --teal-900: #0A2D29;
  --cyan-50: #D0F0FA;
  --cyan-100: #A0E6F7;
  --cyan-200: #68D3F3;
  --cyan-300: #3CB8DC;
  --cyan-400: #2B8DAB;
  --cyan-500: #23728B;
  --cyan-600: #155266;
  --cyan-700: #0E3B49;
  --cyan-800: #0D2B36;
  --cyan-900: #0B252D;
  --purple-50: #E5C6FB;
  --purple-100: #D9AFF5;
  --purple-200: #C993EF;
  --purple-300: #B168E8;
  --purple-400: #984BD8;
  --purple-500: #7A2DB9;
  --purple-600: #591F89;
  --purple-700: #47176E;
  --purple-800: #391457;
  --purple-900: #2E1146;
  --pink-50: #F6C5DE;
  --pink-100: #F69AD1;
  --pink-200: #ED77BE;
  --pink-300: #E359AB;
  --pink-400: #CB4394;
  --pink-500: #AC377D;
  --pink-600: #822A5F;
  --pink-700: #68204B;
  --pink-800: #601D46;
  --pink-900: #471432;
  --pink-900-80: #471432CC;
  --violet-50: #DACBF7;
  --violet-100: #C4AFEE;
  --violet-200: #B398EF;
  --violet-300: #9D7CEA;
  --violet-400: #8867E8;
  --violet-500: #5C3FC2;
  --violet-600: #4639A6;
  --violet-700: #332978;
  --violet-800: #281E5D;
  --violet-900: #221C42;
}
@theme {
  --outline-gray-1: #EDEDED;
  --outline-gray-2: #E2E2E2;
  --outline-gray-3: #C7C7C7;
  --outline-gray-4: #999999;
  --outline-gray-5: #383838;
  --outline-red-1: #FDC2C2;
  --outline-red-2: #F79596;
  --outline-red-3: #E03636;
  --outline-green-1: #A6EFC0;
  --outline-green-2: #86E0A8;
  --outline-amber-1: #FBDB73;
  --outline-amber-2: #FBCC55;
  --outline-blue-1: #A7D7FD;
  --outline-orange-1: #F4B07F;
  --outline-gray-modals: #EDEDED;
  --surface-white: #FFFFFF;
  --surface-gray-1: #F8F8F8;
  --surface-gray-2: #F3F3F3;
  --surface-gray-3: #EDEDED;
  --surface-gray-4: #E2E2E2;
  --surface-gray-5: #525252;
  --surface-gray-6: #383838;
  --surface-gray-7: #171717;
  --surface-red-1: #FFF7F7;
  --surface-red-2: #FFE7E7;
  --surface-red-3: #FFD8D8;
  --surface-red-4: #FDC2C2;
  --surface-red-5: #CC2929;
  --surface-red-6: #B52A2A;
  --surface-red-7: #941F1F;
  --surface-green-1: #F2FDF4;
  --surface-green-2: #E4FAEB;
  --surface-green-3: #278F5E;
  --surface-amber-1: #FDFAED;
  --surface-amber-2: #FFF7D3;
  --surface-amber-3: #DB7706;
  --surface-blue-1: #F2F9FF;
  --surface-blue-2: #E6F4FF;
  --surface-blue-3: #007BE0;
  --surface-orange-1: #FFEFE4;
  --surface-violet-1: #F0EBFF;
  --surface-cyan-1: #DDF7FF;
  --surface-pink-1: #FDE8F5;
  --surface-menu-bar: #F8F8F8;
  --surface-cards: #FFFFFF;
  --surface-modal: #FFFFFF;
  --surface-selected: #FFFFFF;
  --ink-white: #FFFFFF;
  --ink-gray-1: #EDEDED;
  --ink-gray-2: #E2E2E2;
  --ink-gray-3: #C7C7C7;
  --ink-gray-4: #999999;
  --ink-gray-5: #7C7C7C;
  --ink-gray-6: #525252;
  --ink-gray-7: #525252;
  --ink-gray-8: #383838;
  --ink-gray-9: #171717;
  --ink-red-1: #FFF7F7;
  --ink-red-2: #F79596;
  --ink-red-3: #E03636;
  --ink-red-4: #CC2929;
  --ink-green-1: #F2FDF4;
  --ink-green-2: #46B37E;
  --ink-green-3: #278F5E;
  --ink-amber-1: #FDFAED;
  --ink-amber-2: #E79913;
  --ink-amber-3: #DB7706;
  --ink-blue-1: #F2F9FF;
  --ink-blue-2: #0289F7;
  --ink-blue-3: #007BE0;
  --ink-cyan-1: #3BBDE5;
  --ink-pink-1: #E34AA6;
  --ink-violet-1: #6846E3;
  --ink-blue-link: #73BBF6;
  --gray-50: #F8F8F8;
  --gray-100: #F3F3F3;
  --gray-200: #EDEDED;
  --gray-300: #E2E2E2;
  --gray-400: #C7C7C7;
  --gray-500: #999999;
  --gray-600: #7C7C7C;
  --gray-700: #525252;
  --gray-800: #383838;
  --gray-900: #171717;
  --blue-50: #F2F9FF;
  --blue-100: #E6F4FF;
  --blue-200: #C8E6FF;
  --blue-300: #A7D7FD;
  --blue-400: #73BBF6;
  --blue-500: #0289F7;
  --blue-600: #007BE0;
  --blue-700: #0070CC;
  --blue-800: #005CA3;
  --blue-900: #004880;
  --green-50: #F2FDF4;
  --green-100: #E4FAEB;
  --green-200: #C3F9D3;
  --green-300: #A6EFC0;
  --green-400: #86E0A8;
  --green-500: #46B37E;
  --green-600: #278F5E;
  --green-700: #137949;
  --green-800: #075E35;
  --green-900: #173B2C;
  --red-50: #FFF7F7;
  --red-100: #FFE7E7;
  --red-200: #FFD8D8;
  --red-300: #FDC2C2;
  --red-400: #F79596;
  --red-500: #E03636;
  --red-600: #CC2929;
  --red-700: #B52A2A;
  --red-800: #941F1F;
  --red-900: #6B1515;
  --amber-50: #FDFAED;
  --amber-100: #FFF7D3;
  --amber-200: #FEEDA9;
  --amber-300: #FBDB73;
  --amber-400: #FBCC55;
  --amber-500: #E79913;
  --amber-600: #DB7706;
  --amber-700: #B35309;
  --amber-800: #91400D;
  --amber-900: #763813;
  --orange-50: #FFF9F5;
  --orange-100: #FFEFE4;
  --orange-200: #FFDEC5;
  --orange-300: #FFCBA3;
  --orange-400: #F4B07F;
  --orange-500: #E86C13;
  --orange-600: #D45A08;
  --orange-700: #BD3E0C;
  --orange-800: #9E3513;
  --orange-900: #6B2711;
  --yellow-50: #FFFCEF;
  --yellow-100: #FFF7D3;
  --yellow-200: #F7E9A8;
  --yellow-300: #F5E171;
  --yellow-400: #F2D14B;
  --yellow-500: #EDBA13;
  --yellow-600: #D1930D;
  --yellow-700: #AB6E05;
  --yellow-800: #8C5600;
  --yellow-900: #733F12;
  --teal-50: #F0FDFA;
  --teal-100: #E6F7F4;
  --teal-200: #BAE8E1;
  --teal-300: #97DED4;
  --teal-400: #73D1C4;
  --teal-500: #36BAAD;
  --teal-600: #0B9E92;
  --teal-700: #0F736B;
  --teal-800: #115C57;
  --teal-900: #114541;
  --cyan-50: #F5FBFC;
  --cyan-100: #DDF7FF;
  --cyan-200: #B3E8F7;
  --cyan-300: #99E2F8;
  --cyan-400: #72D5F3;
  --cyan-500: #3BBDE5;
  --cyan-600: #32A4C7;
  --cyan-700: #267A94;
  --cyan-800: #125C73;
  --cyan-900: #164759;
  --purple-50: #FDFAFF;
  --purple-100: #F6E9FF;
  --purple-200: #ECD3FF;
  --purple-300: #E2B9FC;
  --purple-400: #CFA1F2;
  --purple-500: #9C45E3;
  --purple-600: #8642C2;
  --purple-700: #6E399D;
  --purple-800: #5C2F83;
  --purple-900: #401863;
  --pink-50: #FFF7FC;
  --pink-100: #FDE8F5;
  --pink-200: #FFD5F0;
  --pink-300: #F9B9E0;
  --pink-400: #F6A7D6;
  --pink-500: #E34AA6;
  --pink-600: #CF3A96;
  --pink-700: #9C2671;
  --pink-800: #801458;
  --pink-900: #570F3E;
  --violet-50: #FBFAFF;
  --violet-100: #F0EBFF;
  --violet-200: #DBD5FF;
  --violet-300: #C9BAFB;
  --violet-400: #B3A1F5;
  --violet-500: #6846E3;
  --violet-600: #5F46C7;
  --violet-700: #4F3DA1;
  --violet-800: #392980;
  --violet-900: #251959;
}