.ProseMirror {
  --prose-highlight-red: var(--color-red-100);
  --prose-highlight-blue: var(--color-blue-100);
  --prose-highlight-green: var(--color-green-100);
  --prose-highlight-yellow: var(--color-yellow-100);
  --prose-highlight-orange: var(--color-orange-100);
  --prose-highlight-purple: var(--color-purple-100);
  --prose-highlight-pink: var(--color-pink-100);
  --prose-highlight-gray: var(--color-gray-100);
  --prose-highlight-teal: var(--color-teal-100);
  --prose-highlight-cyan: var(--color-cyan-100);
}

[data-theme='dark'] .ProseMirror {
  --prose-highlight-red: var(--color-dark-red-800);
  --prose-highlight-blue: var(--color-dark-blue-800);
  --prose-highlight-green: var(--color-dark-green-800);
  --prose-highlight-yellow: var(--color-dark-yellow-800);
  --prose-highlight-orange: var(--color-dark-orange-800);
  --prose-highlight-purple: var(--color-dark-purple-800);
  --prose-highlight-pink: var(--color-dark-pink-800);
  --prose-highlight-gray: var(--color-dark-gray-800);
  --prose-highlight-teal: var(--color-dark-teal-800);
  --prose-highlight-cyan: var(--color-dark-cyan-800);
}

.ProseMirror mark {
  font-weight: 400;
  border-radius: 3px;
  padding: 0 2px;
  color: inherit;
}
